<%-include('../includes/header.ejs')%>
    <link rel="stylesheet" href="/CSS/style.css">
    </head>

    <body>
        <%-include('../includes/navigation.ejs')%>
<div class="div_reg">
                <h2 class="reg_heading">REGISTRATION FORM</h2>

                <form action="/reg_page" method="POST">
                    <input type="hidden" value="<%=csrf_token%>" name="_csrf">

                    <div class="regBody">
    
                        <input type="text" name="r_fname" class="input_reg" placeholder="First name:"><br><br>

                        <input type="text" name="r_lname" class="input_reg" placeholder="Last name:"><br><br>

                        <input type="text" name="r_email" class="input_reg" placeholder="Email:"><br><br>

                        <input type="password" name="r_password" class="input_reg" placeholder="Password:"><br><br>

                        <input type="submit" value="SUBMIT" class="submit_Btn">

                        <%if(errorMsg){%>
                            <div class="errorMessage"><%=errorMsg%></div>
                            <%}%>
    
                    </div>
                </form>
         </div>
    
           

            <%-include('../includes/footer.ejs')%>   