<%-include('../Includes/header.ejs')%>
<link rel="stylesheet" href="/CSS/style.css">
    </head>
    <body>
        <%-include('../Includes/navigation.ejs')%>

        <div class="container">
            <div class="col-lg-8 border p-3 main-section bg-white">
                <div class="row m-0">
                    <div class="col-lg-4 left-side-product-box pb-3">
                        <img src="../../<%=data.p_image%>" class="border p-3">
                    </div>
                    <div class="col-lg-8">
                        <div class="right-side-pro-detail border p-3 m-0">
                            <div class="row">
                                <div class="col-lg-12">
                                    <span><%=data.p_brand%></span>
                                    <p class="m-0 p-0"><%=data.p_title%></p>
                                </div>
                                <div class="rating">
                                    <div class="stars">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <p class="m-0 p-0 price-pro">₹ <%=data.p_price%></p>
                                    <hr class="p-0 m-0">
                                </div>
                                <div class="col-lg-12 pt-2">
                                    <h5>Product Detail</h5>
                                    <span><%=data.p_desc%>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris.</span>
                                    <hr class="m-0 pt-2 mt-2">
                                </div>

                                <form action="/addToCart" method="POST">
                                    <input type="hidden" value="<%=csrf_token%>" name="_csrf">

                                <div class="col-lg-12 mt-2">
                                    <h6>Quantity :</h6>
                                    <input type="number" name="quantity" class="form-control text-center w-100" value="1">
                                </div>
                                <div class="col-lg-12 mt-3">
                                    <div class="row">
                                        <div class="col-lg-6 pb-2">
                                            <input type="hidden" name="productId" value="<%=data._id%>">
                                            <button  class="btn btn-danger w-100">Add To Cart <i class="fa-solid fa-cart-shopping"></i></button>
                                        </div>
                                        <div class="col-lg-6">
                                            <button class="btn btn-success w-100">Shop Now <i class="fa-solid fa-bolt"></i></button>
                                        </div>
                                    </div>
                                </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 <%-include('../Includes/footer.ejs')%> 
